.contact__container{
    width: 100%;
    background-color: black;
  
    .line{
        width: 150px;
        height: 2px;
        border-radius: 10px;
        background-color: orange;
        margin-bottom: 20px;
    }
}
.contact__main__box{
    padding-top: 100px;
   
}
.map__icon{
    position: relative;
    text-align: center;
}
.contact__text{
    width: 80%;
    margin: auto;
    text-align: center;
    h2{
        color: orange;
        padding-bottom: 10px;
        font-size: 30px;
    }
    div{
      margin: auto;
    }
    p{
        padding-bottom: 20px;
        color: white;
    }
}
// .map__icon__div{
    

    
    

// }
.contact__main__main{
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
   
    align-items: flex-end;
}
.contact__main{
    width: 80%;
    min-height: 250px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.contact__box{
    width: 350px;
    height:250px ;
    background-color:white;
   p{
    color:black;
   }
   
    text-align: center;
    a{
        text-decoration: none;
        color: black;
    }
    h5{
        margin-bottom: 15px;
        font-size: 25px;
        font-family: 'Lato', sans-serif;
    }
}
.icon__div{
    width: 60px;
    margin: auto;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(227, 176, 82);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact__map{
    width: 100%;
    min-height: 22rem;

   padding-top: 120px;
    
    .map__area{
        width: 100%;
        min-height: 22rem;

    }
}

@media only screen and (max-width: 650px){

.contact__main{
    flex-direction: column;
    align-items: center;
}
.contact__text{
    padding-top: 30px;
    p{
        display: none;
    }
}
#addressbox{
    display: none;
}
.contact__box{
    height: 200px;
    width: 300px;
}
}