.admin__news__container{
    width: 80%;
    right: 0;
    height: 100vh;
    margin-left: 20%;
    background-color: #042331f5;


    .news__create__box{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .news__create__div__left{
            h4{
                color: gray;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }
        }
        .news__create__div__right{
            button{
                width: 130px;
                height: 40px;
                background-color: blue;
                border: none;
                border-radius: 10px;
                color: white;
                font-size: 18px;
                .createbtn{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }



.eventnews__add__table{
    text-align: center;
    h4{
        color: white;
        padding-bottom: 20px;
    }
}


}










table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }