.dashboard__container{
    width: 80%;
    right: 0;
    background-color: #042331f5;
    min-height: 100vh;
    padding-bottom: 50px;
    margin-left: 20%;
    .statistica__card{
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        div{
            width: 22%;
            height: 150px;
            border-radius: 10px;
        }
        .user__statistica{
            background-color: rgb(38,24,176);
        }
        .income__statistica{
            background-color: rgb(46,141,228);
        }
        .conversion__statistica{
            background-color: rgb(247,161,15);
        }
        .session__statistica{
            background-color: rgb(222,65,65);
        }
    }
    .dashboard__traffic{
        width: 95%;
        margin: auto;
        padding-top: 30px;
        img{
            width: 100%;
            height: 500px;
        }
    }

    .sosialmedia__traffic__container{
        width: 95%;
        margin: auto;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    
        .sosial__media__box{
            width: 22%;
            height: 200px;
            border-radius: 10px;
            background-color: aliceblue;
            overflow: hidden;
            img{
                width: 100%;
                height: 60%;
                object-fit: cover;
            }
            .socialmedia__dashboard{
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: space-between;
                div{
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    border: 1px solid gray;
                    p{
                        color: gray;
                    }
                }

            }
            
        }
    }

}


